.header {
    border-width: 0.14px;
    border-color: #b5b7ba;
    border-style: solid;
    background-color: #dfdfdf;
    height: 68px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
    &__link {
        text-decoration: none;
    }
}